@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Quicksand:wght@400;700&display=swap");
*, ::before, ::after, h1, h2, h3, h4, h5, h6 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

footer p, footer, main .btn-grid-list button, header {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer, header {
  margin: 15px 2vw;
  padding: 20px 30px;
  box-shadow: rgba(146, 88, 206, 0.35) 0px 0px 12px 0px, rgba(146, 88, 206, 0.5) 0px 0px 1px 0px;
  background-color: #030031;
  border-radius: 12px;
}

.active, main .btn-play:active, main .btn-play:hover {
  background-color: #29A5F2 !important;
  box-shadow: rgba(41, 165, 242, 0.25) 0px 54px 55px, rgba(41, 165, 242, 0.12) 0px -12px 30px, rgba(41, 165, 242, 0.12) 0px 4px 6px, rgba(41, 165, 242, 0.17) 0px 12px 13px, rgba(41, 165, 242, 0.09) 0px -3px 5px !important;
}

main .btn-play, main #select-theme, main .btn-grid-list button {
  cursor: pointer;
}

* {
  color: #F3F3F3;
  font-family: "Quicksand", cursive, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

body {
  background-image: url("../assets/bg-game.jpg");
  background-size: 300px;
  background-repeat: repeat;
  background-position: center;
}

header {
  min-height: max-content;
  min-width: max-content;
}
header h1 {
  font-family: "Audiowide", cursive, Arial, Helvetica, sans-serif;
  font-size: 2.5em;
}

main {
  margin: 15px 2vw;
  padding: 20px 30px;
  min-height: 450px;
  min-width: 320px;
  background-color: rgba(3, 0, 49, 0.5);
  height: 100vh;
  max-height: calc(100vh - 220px);
  border-radius: 12px;
}
main #choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  min-width: 320px;
  height: 100%;
  width: 100%;
}
main .btn-grid-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  width: 280px;
  border-radius: 8px;
  margin: 25px 0;
  overflow: visible;
}
main .btn-grid-list button {
  height: 60px;
  width: 60px;
  border-radius: 5px;
  background-color: #9A5BD9;
  box-shadow: rgba(154, 91, 217, 0.3) 0px 19px 38px, rgba(154, 91, 217, 0.22) 0px 15px 12px;
  transition: all 300ms ease;
}
main .btn-grid-list button:active {
  transform: scale(0.95);
}
main .btn-grid-list button svg {
  height: 45px;
  width: 45px;
  transition: all 300ms ease;
}
main #select-theme {
  background-color: #9A5BD9;
  width: 230px;
  height: 60px;
  padding: 5px;
  margin: 25px 0;
  border-radius: 5px;
  font-size: 1.1em;
}
main #select-theme:focus {
  background-color: #29A5F2;
}
main .btn-play {
  background-color: #9A5BD9;
  border-radius: 8px;
  height: 60px;
  width: 230px;
  margin: 25px 0;
  font-size: 1.6em;
  font-weight: 700;
  box-shadow: rgba(154, 91, 217, 0.3) 0px 19px 38px, rgba(154, 91, 217, 0.22) 0px 15px 12px;
}
main .btn-play:active {
  transform: scale(0.95);
}

.active {
  transform: scale(1.02);
}
.active svg {
  transform: scale(1);
}

footer {
  font-size: 1.2em;
  font-weight: 700;
}
footer svg {
  height: 25px;
  width: 25px;
  margin: 0 7px;
}
footer p a {
  display: inline-block;
  border-bottom: 2px solid transparent;
}
footer p a:hover {
  border-bottom: 2px solid #F3F3F3;
}

.none {
  display: none !important;
  visibility: hidden !important;
}

/*# sourceMappingURL=style.css.map */
