@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Quicksand:wght@400;700&display=swap");
*, ::before, ::after, h1, h2, h3, h4, h5, h6 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

footer p, footer, header, .btn-grid-list button {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer, header {
  margin: 15px 2vw;
  padding: 20px 30px;
  box-shadow: rgba(146, 88, 206, 0.35) 0px 0px 12px 0px, rgba(146, 88, 206, 0.5) 0px 0px 1px 0px;
  background-color: #030031;
  border-radius: 12px;
}

.active, .btn-play:active, .btn-play:hover {
  background-color: #29A5F2 !important;
  box-shadow: rgba(41, 165, 242, 0.25) 0px 54px 55px, rgba(41, 165, 242, 0.12) 0px -12px 30px, rgba(41, 165, 242, 0.12) 0px 4px 6px, rgba(41, 165, 242, 0.17) 0px 12px 13px, rgba(41, 165, 242, 0.09) 0px -3px 5px !important;
}

.btn-play, #select-theme, .btn-grid-list button {
  cursor: pointer;
}

#choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  min-width: 320px;
  height: 100%;
  width: 100%;
  transform: scale(0);
  transition: all 500ms ease-in-out;
}

.btn-grid-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  width: 280px;
  border-radius: 8px;
  margin: 25px 0;
  overflow: visible;
}
.btn-grid-list button {
  height: 60px;
  width: 60px;
  border-radius: 5px;
  background-color: #9A5BD9;
  box-shadow: rgba(154, 91, 217, 0.3) 0px 19px 38px, rgba(154, 91, 217, 0.22) 0px 15px 12px;
  transition: all 300ms ease;
}
.btn-grid-list button:active {
  transform: scale(0.95);
}
.btn-grid-list button img {
  height: 46px;
  width: 46px;
  transition: all 300ms ease;
}

#select-theme {
  background-color: #9A5BD9;
  width: 230px;
  height: 60px;
  padding: 5px;
  margin: 25px 0;
  border-radius: 5px;
  font-size: 1.1em;
}
#select-theme:hover {
  background-color: #29A5F2;
}

.btn-play {
  background-color: #9A5BD9;
  border-radius: 8px;
  height: 60px;
  width: 230px;
  margin: 25px 0;
  font-size: 1.6em;
  font-weight: 700;
  box-shadow: rgba(154, 91, 217, 0.3) 0px 19px 38px, rgba(154, 91, 217, 0.22) 0px 15px 12px;
}
.btn-play:active {
  transform: scale(0.95);
}

.active {
  transform: scale(1.02);
}
.active img {
  transform: scale(1);
}

.disabled {
  cursor: not-allowed !important;
  box-shadow: none !important;
  transform: scale(0.15) !important;
  pointer-events: none !important;
}
.disabled img {
  visibility: hidden !important;
}

#party {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 400px;
  min-width: 320px;
  height: 100%;
  width: 100%;
  transform: scale(0);
  transition: all 500ms ease-in-out;
}

.party-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 60px;
}
.party-info div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(146, 88, 206, 0.35) 0px 0px 12px 0px, rgba(146, 88, 206, 0.5) 0px 0px 1px 0px;
  border: 1px solid rgba(146, 88, 206, 0.3);
  background-color: #030031;
  height: 100%;
  border-radius: 12px;
  font-weight: 700;
  font-size: 1.1em;
}
.party-info div:nth-child(1) {
  width: 48%;
}
.party-info div:nth-child(2) {
  width: 24%;
}
.party-info div:nth-child(3) {
  width: 24%;
}

.party-grid {
  background-color: rgba(3, 0, 49, 0.7);
  width: 500px;
  height: 500px;
  border-radius: 20px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.party-grid .card {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 95%;
  border-radius: 20px;
  transition: all 500ms ease;
  margin: auto;
  background-color: #F3F3F3;
}
.party-grid .card:active {
  transform: scale(0.96);
}
.party-grid .card img {
  position: absolute;
  border-radius: 12px;
}
.party-grid .card .front {
  overflow: hidden;
  height: 90%;
  width: 90%;
  object-fit: cover;
  object-position: center;
  background-color: #F3F3F3;
  border-radius: 0px;
  transform: scale(0);
  transition: all 300ms ease-in-out;
}
.party-grid .card .back {
  overflow: hidden;
  height: 100%;
  border-radius: 20px;
  border: 5px solid #F3F3F3;
  transform: scale(1);
  transition: all 300ms ease-in-out;
}
.party-grid .alreadychoose {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 95%;
  border-radius: 12px;
  margin: auto;
  pointer-events: none;
}
.party-grid .alreadychoose .front {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  background-color: #F3F3F3;
  border-radius: 25px;
  border: 8px solid #29A5F2;
}
.party-grid .alreadychoose .back {
  display: none;
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-5 {
  grid-template-columns: repeat(5, 1fr);
}

.party-grid.grid-5 {
  width: 625px;
}

.grid-6 {
  grid-template-columns: repeat(6, 1fr);
}

.party-grid.grid-6 {
  width: 750px;
}

.temporary-display {
  pointer-events: none;
}

.card.choose {
  pointer-events: none;
}

.card.choose .back {
  transform: scale(0);
}

.card.choose .front {
  transform: scale(1);
}

* {
  color: #F3F3F3;
  font-family: "Quicksand", cursive, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

body {
  background-image: url("../assets/bg-game.jpg");
  background-size: 300px;
  background-repeat: repeat;
  background-position: center;
}

header {
  min-height: max-content;
  min-width: max-content;
}
header h1 {
  cursor: pointer;
  font-family: "Audiowide", cursive, Arial, Helvetica, sans-serif;
  font-size: 2.5em;
}
header h1:active {
  transform: scale(0.9);
}

main {
  margin: 15px 2vw;
  padding: 20px 30px;
  min-height: 440px;
  min-width: 320px;
  background-color: rgba(3, 0, 49, 0.5);
  height: 100vh;
  max-height: calc(99vh - 220px);
  border-radius: 12px;
}

footer {
  font-size: 1.2em;
  font-weight: 700;
}
footer svg {
  height: 25px;
  width: 25px;
  margin: 0 7px;
}
footer p a {
  display: inline-block;
  border-bottom: 2px solid transparent;
}
footer p a:hover {
  border-bottom: 2px solid #F3F3F3;
}

.none {
  transform: scale(0) !important;
}

.hide {
  display: none !important;
  visibility: hidden !important;
}

.show {
  transform: scale(1) !important;
}

/*# sourceMappingURL=style.css.map */
