// --- @include height-width();

@mixin height-width($height, $width) {
    height: $height;
    width: $width;
}

@mixin min-height-width($min-height, $min-width) {
    min-height: $min-height;
    min-width: $min-width;
}

@mixin flexbox($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}