// @extend %flex-center

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%header-footer {
    margin: 15px 2vw;
    padding: 20px 30px;
    box-shadow: rgba(146, 88, 206, .35) 0px 0px 12px 0px,
                rgba(146, 88, 206, .5) 0px 0px 1px 0px;
    background-color: $bgMain;
    border-radius: 12px;
}

%blue-neon {
    background-color: $blue !important;
    box-shadow: rgba($blue, 0.25) 0px 54px 55px,
                rgba($blue, 0.12) 0px -12px 30px,
                rgba($blue, 0.12) 0px 4px 6px,
                rgba($blue, 0.17) 0px 12px 13px,
                rgba($blue, 0.09) 0px -3px 5px !important;
}

%pointer {
    cursor: pointer;
}