@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Quicksand:wght@400;700&display=swap');
// font-family: 'Audiowide', cursive;
// font-family: 'Quicksand', sans-serif;


// --- COLORS
$bgMain: #030031;
$txtMain: #F3F3F3;

// --- FONTS
$title: 'Audiowide', cursive, Arial, Helvetica, sans-serif;
$text: 'Quicksand', cursive, Arial, Helvetica, sans-serif;