@import "_reset.scss";
@import "_variables.scss";
@import "_placeholders.scss";
@import "_mixins.scss";
@import "_responsive.scss";

* {
    color: $txtMain;
    font-family: $text;
    overflow-x: hidden;
}

body {
    background-image: url("../assets/bg-game.jpg");
    background-size: 300px;
    background-repeat: repeat;
    background-position: center;
}

//------HEADER
header {
    @extend %flex-center;
    @extend %header-footer;
    @include min-height-width(max-content, max-content);

    h1 {
        font-family: $title;
        font-size: 2.5em;
    }
}

main {
    margin: 15px 2vw;
    padding: 20px 30px;
    @include min-height-width(450px, 320px);
    background-color: rgba($bgMain, .5);
    height: 100vh;
    max-height: calc(100vh - 220px);

    border-radius: 12px;


    #choice {
        @include flexbox(column, center, center);
        @include min-height-width(400px, 320px);
        @include height-width(100%, 100%)
    }

    .btn-grid-list {
        @include flexbox(row, space-evenly, center);
        height: 80px;
        width: 280px;
        border-radius: 8px;
        margin: 25px 0;
        overflow: visible;

        button {
            @extend %pointer;
            @extend %flex-center;
            height: 60px;
            width: 60px;
            border-radius: 5px;
            background-color: $violet;
            box-shadow: rgba($violet, 0.3) 0px 19px 38px,
                        rgba($violet, 0.22) 0px 15px 12px;
            transition: all 300ms ease;

            &:active {
                transform: scale(.95);
            }

            svg {
                height: 45px;
                width: 45px;
                transition: all 300ms ease;
            }
        }
    }

    #select-theme {
        @extend %pointer;
        background-color: $violet;
        width: 230px;
        height: 60px;
        padding: 5px;
        margin: 25px 0;
        border-radius: 5px;
        font-size: 1.1em;

        &:focus {
            background-color: $blue;
        }
    }

    .btn-play {
        @extend %pointer;
        background-color: $violet;
        border-radius: 8px;
        height: 60px;
        width: 230px;
        margin: 25px 0;
        font-size: 1.6em;
        font-weight: 700;
        box-shadow: rgba($violet, 0.3) 0px 19px 38px,
                    rgba($violet, 0.22) 0px 15px 12px;

        &:hover {
            @extend %blue-neon;
        }

        &:active {
            transform: scale(.95);
            @extend %blue-neon;
        }
    }
}

.active {
    transform: scale(1.02);
    @extend %blue-neon;

    svg {
        transform: scale(1);
    }
}

//------FOOTER
footer {
    @extend %flex-center;
    @extend %header-footer;
    font-size: 1.2em;
    font-weight: 700;

    svg {
        height: 25px;
        width: 25px;
        margin: 0 7px;
    }

    p {
        @extend %flex-center;

        a {
            display: inline-block;
            border-bottom: 2px solid transparent;

            &:hover {
                border-bottom: 2px solid $txtMain;
            }
        }
    }
}

.none {
    display: none !important;
    visibility: hidden !important;
}