@import "_reset.scss";
@import "_variables.scss";
@import "_placeholders.scss";
@import "_functions.scss";
@import "_mixins.scss";
//-------------------------
@import "_z-choice.scss";
@import "_z-party.scss";
//-------------------------
@import "_responsive.scss";


* {
    color: $txtMain;
    font-family: $text;
    overflow-x: hidden;
}

body {
    background-image: url("../assets/bg-game.jpg");
    background-size: 300px;
    background-repeat: repeat;
    background-position: center;
}

//------HEADER
header {
    @extend %flex-center;
    @extend %header-footer;
    @include min-height-width(max-content, max-content);

    h1 {
        cursor: pointer;
        font-family: $title;
        font-size: 2.5em;

        &:active {
            transform: scale(.9);
        }
    }
}

//------MAIN
main {
    margin: 15px 2vw;
    padding: 20px 30px;
    @include min-height-width(440px, 320px);
    background-color: rgba($bgMain, .5);
    height: 100vh;
    max-height: calc(99vh - 220px);
    border-radius: 12px;
}

//------FOOTER
footer {
    @extend %flex-center;
    @extend %header-footer;
    font-size: 1.2em;
    font-weight: 700;

    svg {
        height: 25px;
        width: 25px;
        margin: 0 7px;
    }

    p {
        @extend %flex-center;

        a {
            display: inline-block;
            border-bottom: 2px solid transparent;

            &:hover {
                border-bottom: 2px solid $txtMain;
            }
        }
    }
}

//------GENERIC;
.none {
    transform: scale(0) !important;
}

.hide {
    display: none !important;
    visibility: hidden !important;
}

.show {
    transform: scale(1) !important;
}